<h1 style="color: white;">Welcome to DomiHub</h1>
<div *ngIf="!logged">
  <app-login *ngIf="wantTologin"></app-login>
  <button
    class="btn btn-success"
    (click)="wantTologin = true"
    style="margin-right: 5px; margin-bottom: 5px;"
  >
    Click Here If you are admin
  </button>
  <button
    class="btn btn-success"
    style="margin-right: 5px; margin-bottom: 5px;"
    (click)="th()"
  >
    Sign in as guest
  </button>
</div>
<div *ngIf="logged">
  <p style="color: white;">Enjoy admin privileges, {{ loggedUser }}!</p>
  <p style="color: white;">De momento tampoco es que puedas hacer nada sorr</p>
</div>
